# 这里的配置会覆盖 Chart 里的默认值
image:
  repository: mengxu46/k8s-frontend
  tag: "b34c74f05b4b1ced185b603080657e5c6cc30001"
# 【关键】注入基础设施的坐标 (指向 middleware 命名空间)
mysql:
  host: "mycluster.middleware.svc.cluster.local"
  port: 6446
env:
  - springAppName: "k8s-frontend"
  # 1. 告诉 Agent 服务名叫什么 (Jaeger 里显示的名字)
  - name: OTEL_SERVICE_NAME
    value: "k8s-frontend"
  # 2. 告诉 Agent 数据发给谁 (Jaeger Collector)
   # 注意：Java Agent 默认使用 OTLP 协议 (gRPC)，端口是 4317
  - name: OTEL_EXPORTER_OTLP_ENDPOINT
    value: "http://observability-jaeger-collector.monitoring:4317"
  # 3. (可选) 开启 SQL 参数脱敏/显示
  # 默认为了安全是不显示 SQL 参数的，开发环境可以设为 false 以便调试
  - name: OTEL_INSTRUMENTATION_JDBC_DATASOURCE_ENABLED
    value: "true"




service:
  type: NodePort
