# 这里的配置会覆盖 Chart 里的默认值
image:
  repository: mengxu46/mengxu
  tag: "ce01a34c2bd7df7d354e4a8123428039daefcedb"
# 【关键】注入基础设施的坐标 (指向 middleware 命名空间)
mysql:
  host: "mycluster.middleware.svc.cluster.local"
  port: 6446
env:
  springAppName: "stock-service"
