# 这里的配置会覆盖 Chart 里的默认值
image:
  repository: mengxu46/k8s-frontend
  tag: "6359ac4a88653c2c90cd6b9c98212167b13f4c6d"
# 【关键】注入基础设施的坐标 (指向 middleware 命名空间)
mysql:
  host: "mycluster.middleware.svc.cluster.local"
  port: 6446
env:
  springAppName: "k8s-frontend"
  # 我们在这里定义 Service Name，方便模板读取
  otelServiceName: "k8s-frontend"
service:
  type: NodePort
