apiVersion: apps/v1
kind: Deployment
metadata:
  name: stock-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: stock-service
  template:
    metadata:
      labels:
        app: stock-service
    spec:
      containers:
        - name: stock-service
          # 注意：这里要填你真实的 Docker Hub 镜像地址，还没有就先填个假的或者 nginx 占位
          image: nginx:alpine
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: stock-service
spec:
  ports:
    - port: 80
      targetPort: 80
  selector:
    app: stock-service