#apiVersion: v1
#kind: ConfigMap
#metadata:
#  name: mysql-config
#  labels:
#    app: mysql
#data:
#  primary.cnf: |
#    [mysqld]
#    #【A路径目标】修改连接数，方便验证配置是否生效
#    max_connections=1000
#
#    #【B路径预埋】开启二进制日志（主从复制必须）
#    log_bin=/var/lib/mysql/mysql-bin
#
#    # 【B路径预埋】每个 MySQL 实例需要唯一的 ID
#    # 这一步稍微有点 trick，StatefulSet 每个 Pod 都是一样的配置，
#    # 我们后面会讲怎么让 mysql-0 和 mysql-1 拥有不同的 ID。
#    # 暂时先写死 1，后续B路径时我们会用高级技巧覆盖它。
#    # server-id=1
#
#    # 默认认证插件（解决之前的 Public Key Retrieval 问题）
#    default_authentication_plugin = mysql_native_password