# 这里的配置会覆盖 Chart 里的默认值
image:
  repository: mengxu46/k8s-gateway
  tag: "257d02c1e84e19de3ae7055534ed269a2ba7af31"
# 【关键】注入基础设施的坐标 (指向 middleware 命名空间)
mysql:
  host: "mycluster.middleware.svc.cluster.local"
  port: 6446
env:
  springAppName: "k8s-gateway"
  # 我们在这里定义 Service Name，方便模板读取
  otelServiceName: "k8s-gateway"
service:
  type: ClusterIP
  port: 80 # Service 对外暴露的端口 (通常是 80)
  targetPort: 8080

ingress:
  enabled: true
  hosts:
    - host: api.local # 或者 backend.local
      paths:
        - path: /
          pathType: Prefix

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 10
  # 关键修改：为了演示效果，我们暂时把 CPU 阈值设为 1%
  # 只要 K6 一跑，立刻就能触发扩容，不用等 CPU 真的打满
  targetCPUUtilizationPercentage: 1
  # 如果有 memory 配置，也可以加上，但 CPU 最直观
  # targetMemoryUtilizationPercentage: 80
resources:
  requests:
  cpu: "1000m"
  memory: "1024Mi"
  limits:
    cpu: "1000m"
    memory: "1024Mi"
