debug: true

spring:
  application:
    name: k8s-demo

  # [新增] Redis 配置
  data:
    redis:
      host: ${REDIS_HOST:redis-0.redis.middleware.svc.cluster.local} # 支持环境变量覆盖，默认用 K8s DNS
      port: 6379
      password: ${REDIS_PASSWORD:root123456}
      database: 0
      # 连接池配置 (Lettuce)
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
          max-wait: -1ms

  datasource:
    # 这里的 type 只是为了方便后续读取配置，实际 Bean 会在代码里创建
    type: com.zaxxer.hikari.HikariDataSource

    # 1. 主库配置 (写操作 -> mysql-0)
    master:
      jdbc-url: jdbc:mysql://mycluster.middleware.svc.cluster.local:6446/k8s_demo_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      username: ${DB_USERNAME:root}
      password: ${DB_PASSWORD:root123456}
      driver-class-name: com.mysql.cj.jdbc.Driver

    # 2. 从库配置 (读操作 -> mysql-1)
    slave:
      jdbc-url: jdbc:mysql://mycluster.middleware.svc.cluster.local:6447/k8s_demo_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      username: ${DB_USERNAME:root}
      password: ${DB_PASSWORD:root123456}
      driver-class-name: com.mysql.cj.jdbc.Driver

mybatis:
  configuration:
    # 开启驼峰映射 (visit_time -> visitTime)
    map-underscore-to-camel-case: true
    # 打印 SQL 日志 (方便调试)
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

management:
  metrics:
    tags:
      application: ${spring.application.name}

  endpoints:
    web:
      exposure:
        include: health,info,prometheus

  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: "http://jaeger.monitoring:9411/api/v2/spans"

